<% title("Project Description") %>
<div class="body">
<p>This project is about developing a web site to track employee payroll information for an automobile company using Ruby on Rails and XML.</p>
</div>