/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* FONTS */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Oswald');

h1
{
	font-family: 'Oswald', 'century gothic';
	color:navy;
}

.header {
	margin:  2% 7.5% 0;
	border-bottom-style: solid;
	border-width:0.1em;
	padding-top: 2%;
	font-family: 'Oswald', 'century gothic';
	height: 70px;
}
.body{
	margin:  2% 7.5% 0;
	padding-top: 2%;
	font-family: 'Oswald', 'century gothic';
}
.header h1 {
	float: left;
}
.header #logo{
	float: right
}